[Node]
protocol: http://
ip:
port: :
getvotersendpoint:  /api/delegates/voters?publicKey=
getvotesendpoint: /api/accounts/delegates/?address=
paymentendpoint: /api/transactions
getbalanceendpoint: /api/accounts/getBalance?address=
getdelegateinfo: /api/delegates/get?username=
getforgeddiff: /api/delegates/forging/getForgedByAccount?generatorPublicKey={PUBLICKEY}&start={LAST_PAYOUT}&end={TODAY_PAYOUT}

[Account]
username:
address:
secret:
second_secret:
pub_key:

[Pool]
dynamic_pool:
top_20_%:
top_50_%:
top_101_%:
static_%:
swap_holding:

[DB]
name:

[Payments]
threshold:
cost:

[Skip]
gdt: array of gdt address
elite: array of elite address